<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            background-color: #db4234;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        .content {
            padding: 20px;
        }
        .button {
            text-align: center;
            margin-top: 20px;
        }
        .button a {
            display: inline-block;
            background-color: #45db34;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Forgot Password</h1>
    </div>
    <div class="content">
        <h4>Hello {{ user.firstname }},</h4>
        <p>Click the given button below to reset your password</p>
    </div>
    <div class="button">
        <a href="{{ absolute_url(path('resetpassword',{id: user.id})) }}" target="_blank">Reset Password</a>
    </div>
</div>
</body>
</html>
